
#sidenav-overlay {
	z-index: 996;
}
p, h1, h2, h3{
	font-family: sans-serif;
}
a{
	text-decoration: nome;
	color:#fff;
}
#divDinamica{
	position: relative;

}
.brand-logo{
	font-size:20px!important;
}

.telaApresentacao{		 
	overflow: hidden!important; /* para que não tenha rolagem se a imagem de fundo for maior que a tela */
    width: 100%!important;
    height: 674px!important;
    position: relative!important; /* criamos um contexto para posicionamento */
}


.tela-chamado img{
	max-width: 150px;
}
.tela-chamado a>h1{
	color: #000;
	font-weight:900;
	font-size:15px;
	letter-spacing: 1px;
}
/* TOPO */
.button-collapse {
	margin-left:10px;
}
/* FIM TOPO*/

/*SIDE NAV*/

/* INPUTS*/
label{
	color:#000!important;
	font-size:20px!important;
	font-weight: 700;
	letter-spacing: 1px;
}
/* FIM INPUTS*/
.side-nav{
	top: 55px;
}
.side-nav li{
	background-color: #e0e0e0;
	margin:2px 0;
}
/*FIM SIDE NAV*/
#texto{
	margin-left: 3%;
	margin-right: 3%;
	text-align: justify;
	color: #494949;
}
#texto2{
	text-align: center;
	color: #494949;
}
#textoNegrito{
	font-weight: bolder;
	text-align: center;
	color: #494949;
}

#texto3{
	font-weight: bolder;
	text-align: justify;
	color: #494949;
}
#titulo{
	font-size: 2em;
	color: #212121;
	font-weight: bold;
}
#subtitulo{
	margin-top: 1em;
	font-size: 1.5em;
	color: #212121;
	font-weight: bold;

}
#titulo2{
	color: #212121;
}
#titulo3{
	font-weight: bolder;
	color: #fff;
	margin-top: 5em;
	margin-left: 2em;
	position: absolute;
	font-size:200%
}

@media only screen and (max-width: 992px){ 
	nav .brand-logo {
		left: 36%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-26%);
	}
}