<div class="row center-align tela-chamado">
    <div class="col s6">
        <a href="#formularioChamado" ng-click="vitimaComSangue()" title="">
            <h1></h1>
            <img src="img/01_com_sangue.png" class=" responsive-img"/>
        </a>
    </div>
    <div class="col s6">
        <a href="#andamentoChamado" ng-click="vitimaComDor()" title="">
            <h1></h1>
            <img src="img/02_com_dor.png" class=" responsive-img"/>
        </a>
    </div>
</div>

<div class="row center-align tela-chamado">
    <div class="col s6">
        <a href="#formularioChamado"  ng-click="vitimaSemMovimento()" title="">
            <h1></h1>
            <img src="img/03_sem_movimentos.png" class=" responsive-img"/>
        </a>
    </div>
    <div class="col s6">
        <a href="#formularioChamado"  ng-click="vitimaComFratura()" title="">
            <h1></h1>
            <img src="img/04_com_fraturas.png" class="responsive-img"/>
        </a>
    </div>
</div>

<div class="row center-align tela-chamado">
    <div class="col s6">
        <a href="#formularioChamado" ng-click="vitimaComQueimadura()"  title="">
            <h1></h1>
            <img src="img/07_com_queimadura.png" class=" responsive-img"/>
        </a>
    </div>
    <div class="col s6">
        <a href="#formularioChamado"  ng-click="vitimaComTontura()" title="">
            <h1></h1>
            <img src="img/06_com_tontura.png" class="responsive-img"/>
        </a>
    </div>
</div>

<div class="row center-align tela-chamado">
    <div class="col s6">
        <a href="#formularioChamado" ng-click="vitimaComFebre()"  title="">
            <h1></h1>
            <img src="img/05_com_febre.png" class=" responsive-img"/>
        </a>
    </div>
    <div class="col s6">
        <a href="#formularioChamado"  ng-click="vitimaComDorPeito()" title="">
            <h1></h1>
            <img src="img/08_com_dor_no_peito.png" class="responsive-img"/>
        </a>
    </div>
</div>